<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="Messages" fileName="src/main/java/server/log.txt" append="true">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Messages"/>
        </Root>
    </Loggers>
</Configuration>
